*.idea/
.idea/dictionaries/gn.xml
.pytest_cache/README.md
.pytest_cache/v/cache/nodeids
__pycache__/plotting_class.cpython-36.pyc
logs/*
*.log
.idea/*
*.xml
.vscode/
md/test_file.py

# Ignoring legacy 3D files
md/contour_n_isomorph.py
md/contour_rho_ismorph.py
md/fucntional_isomorph.py
md/parametric_surface_plotting.py
md/legacy
