.idea/
__pycache__/
logs/
.vscode/
*.log
*.xml

# Ignoring legacy 3D files
mdanalysistools/__pycache__/
mdanalysistools/legacy/
mdanalysistools/test_file.py
symbols/

# Ignoring build
build/
dist/
mdanalysistools.egg-info/
